# CMake build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/install_manifest.txt
/*.cmake

# Editor files
*.swp
*.swo
.vscode/
.idea/

# MacOS and Linux system files
.DS_Store
Thumbs.db

# Compiled binaries and intermediate object files
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib

# Output data
data/sample_directions_tonatiuh.csv